################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/team-mapper-database
/src/team-mapper-database/.vs/team-mapper-database
/src/team-mapper-database/bin/Debug
/src/team-mapper-database/obj/Debug
/src/.vs/team-mapper/CopilotIndices/17.14.794.21998
/src/team-mapper-api/obj
/src/.vs/team-mapper
