################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/team-mapper-database
/src/team-mapper-database/.vs/team-mapper-database
/src/team-mapper-database/bin/Debug
/src/team-mapper-database/obj/Debug
/src/.vs/team-mapper/CopilotIndices/17.14.794.21998
/src/team-mapper-api/obj
/src/.vs/team-mapper
/src/team-mapper-infrastructure/obj
/src/team-mapper-domain/obj
/src/team-mapper-api/bin/Debug/net9.0
/src/team-mapper-application/bin/Debug/net9.0
/src/team-mapper-application/obj
/src/team-mapper-domain/bin/Debug/net9.0
/src/team-mapper-infrastructure/bin/Debug/net9.0
/src/.vs/ProjectEvaluation
/src/obj/Docker
/src/bin/Debug
/src/obj/Debug
*.dbmdl
*.jfm
/test/integration-tests/team-mapper-api-integration-tests-docker/bin/Debug/net9.0
/test/integration-tests/team-mapper-api-integration-tests-docker/obj
/test/unit-tests/team-mapper-api-unit-tests/bin/Debug/net9.0
/test/unit-tests/team-mapper-api-unit-tests/obj
