.task-visualisation {
    background-color: #ffffff;
    border-radius: 7px;
    padding-bottom: 7px;
}

.navigation-bar-logo {
    display: flex;
    gap: 0;
    align-items: center;
}

.navigation-bar-logo h3 {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
}

.navigation-bar-logo img {
    width: 35px;
    height: 35px;
}

.navigation-bar-logo img:hover {
    cursor: pointer;
    animation: spin 10s linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.task-visualisation-header {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
    padding-top: 15px;
}

.task-visualisation-header h4,
p {
    margin: 0;
    padding: 0;
}

.task-visualisation-header button {
    background-color: #fff;
    border: 1px solid rgb(209, 213, 219);
    border-radius: .5rem;
    padding: .25rem .25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.task-visualisation-header button img {
    width: 20px;
    height: 20px;
}

.task-visualisation-content {
    background-color: #eeebeb;
    margin: 10px 15px;
    border-radius: 7px;
    min-height: 400px;
}